{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="flex flex-col justify-center items-center text-center">
            <h2 class="text-3xl font-bold mb-5 text-center mt-5">About us!</h2>
             <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto mb-5">
                        <img src="/static/img/profile.jpeg" class="img-fluid rounded-circle" alt="Centered Image" style="max-width: 50%;">
                    </div>
                </div>
            </div>
            <div class="flex items-center mb-5">
                <a href="https://www.instagram.com/_sandeep1496_/" class="mx-2 text-gray-600 hover:text-gray-800"><i  class="bi bi-instagram"></i></a>
                <a href="https://twitter.com/techsupport2me" class="mx-2 text-gray-600 hover:text-gray-800"><i class="bi bi-twitter"></i></a>
                <a href="https://www.youtube.com/@thefirstlook5157" class="mx-2 text-gray-600 hover:text-gray-800"><i class="bi bi-youtube"></i></a>
                <a href="https://github.com/Martin1496" class="mx-2 text-gray-600 hover:text-gray-800"><i class="bi bi-github"></i></a>
                <a href="https://m.facebook.com/sandeep.dusadh.10" class="mx-2 text-gray-600 hover:text-gray-800"><i class="bi bi-facebook"></i></a>
            </div>

        </div>
    </div>
</div>
{% endblock %}